<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <script src="https://unpkg.com/htmx.org@1.9.6"
        integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <link rel="stylesheet" href="/static/styles.css"/>
    <title>{{ title }}</title>
    {% include "widgets/auth-head.html" %}
</head>
    <body>
        <div 
          id="content"
          hx-trigger="load,reload from:body"
          hx-target="this"
          hx-get="/content"
        >
        </div>
    </body>
</html>
